
<div class="container">
    <div class="overlay"></div>
    <div class="forgot-card">
      <h2 class="title">🔒 Reset Your Password</h2>
      <p class="subtitle">Enter the OTP and set a new password.</p>
  
      <form >
        <div class="input-group">
          <i class="fas fa-key"></i>
          <input type="text" placeholder="Enter OTP"  name="otp" required />
        </div>
  
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="New Password"  name="newPassword" required />
        </div>
  
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Confirm Password"  name="confirmPassword" required />
        </div>
  
        <button type="submit" class="reset-btn">Reset Password</button>
  
        <p class="back-to-login">
          <a routerLink="/login">Login Again</a> | <a routerLink="/forget">Back</a>
        </p>
      </form>
  
      
  
    </div>
  </div>
  