<section class="temple-section"><br>
    <h1>Welcome To the Kalbhairavnath Temple</h1>

    <div class="content-container">
        <div class="text-block">
            <p>
                Agadgaon is located 20 kilometers from the city of Ahmednagar. 
                To reach Agadgaon from Ahmednagar, one can pass through Burhan Nagar and Kedgaon. 
                It is also 16 kilometers away from Chasbharati's Math. The village is home to an ancient temple of Kal Bhairavnath. 
                Although there are no inscriptions or ancient written records, the temple, built with massive stones, 
                immediately suggests that it was constructed by beings of immense strength, possibly demons.
            </p>
        </div>
        <div class="image-block">
            <img src="assets/images/02.jpeg" alt="Temple Entrance">
        </div>
    </div>

    <div class="content-container">
        <div class="image-block">
            <img src="assets/images/03.jpeg" alt="Temple Side View">
        </div>
        <div class="text-block">
            <p>
                Inside the temple’s sanctum are stone-carved, immovable idols of Kal Bhairavnath and Jagdamba Mata. 
                Outside, in the main temple hall, there is an idol of Agadnath, and on the pillars of the sanctum, images of snake deities are carved. 
                Dotted below the far temple, the snake’s version is polished. At the temple’s entrance, there are fierce heads of deities seen, named Agadnath, Dattatray, and Bhairavnath. 
                According to legend, these deities built the temple in one night under the command of God.
            </p>
        </div>
    </div>

    <div class="content-container">
        <div class="text-block">
            <p>
                Bhairavnath is considered a form of Shiva, as mentioned in the Puranas. He is called Rudra, a fierce deity, 
                as depicted in black. Bhairavnath is described as a deity belonging to the Shaiva family. 
                In Shiva Agamas, there exist sixty-four types of Bhairava incarnations, divided into eight chief deities.
                These are collectively known as 'AshtaBhairava.' Additionally, the names Kalbhairavnath and Bhaktbhairavnath are also well-known among the Bhairavas.
            </p>
        </div>
        <div class="image-block">
            <img src="assets/images/01.jpeg" alt="Temple Deities">
        </div>
    </div>
</section>